<mat-card class="list-item">
    <mat-checkbox (change)="changeStatusTask()" [ngModel]="taskIsActive"></mat-checkbox>
    <span [ngClass]="{completed: taskIsActive}" class="text-item">{{ taskText }}</span>
    <span class="container-button">
            <button class="control-button" color="primary" data-id="{{ taskId }}" mat-icon-button>
                <mat-icon>create</mat-icon>
            </button>
            <button (click)="removeTask()" class="control-button" color="warn" data-id="{{ taskId }}" mat-icon-button>
                <mat-icon>clear</mat-icon>
            </button>
        </span>
</mat-card>

